body{margin:0;font-family:Arial;background:#e0f7ff;}
.container{max-width:520px;margin:auto;background:white;padding:20px;border-radius:15px;}
button{width:100%;padding:12px;margin-top:10px;border:none;background:#00b4d8;color:white;font-weight:bold;border-radius:10px;}
.hidden{display:none;}
#splash{position:fixed;top:0;left:0;width:100%;height:100%;background:#0077b6;color:white;display:flex;flex-direction:column;justify-content:center;align-items:center;}
